---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% for category in site.categories %}
    <h2>{{ category[0] }}</h2> 
    <div class="flexbox">
      {% for post in category[1] %}
            <div class="col">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>

                {{ post.excerpt }}
            </div>
      {% endfor %}
    </div>
  {% endfor %}

</div>
